In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
import math
import random
import seaborn as sns

from scipy.stats import ttest_ind
%matplotlib inline

### Unit 1: Data and analysis - data science for investigations

#### Lesson 1: What is data science?

##### Drill: What can data science do?

1.

I would look at what currents adds were converting the best, and tell them to drop the ones that were not doing as well. I would use the purchase activity and current add conversions to see what adds may be redudant as the product is selling without the add. As well as what products aren't selling and if the add campaign needs changing.

I would do this by comparing the information on all 3 products and thus trying to best understand what is the driving factor by the sales of lack of sales of each.

2.

I would look at the order of the onboarding funnel, let plan choice come before email/password setup. I would the do testing to see if there is any chane in the rates with the new order. I would also look to see how payment schedules compare to competitors.

3.

I would first filter by what is available, as no one cares about the prices of hotel rooms they can't rent. Then I would sort by the price, thus allowing a price analysis for the customer of only the available hotels in the city

4.

I would look at the variance of the log in periods over time to see if there is a drop off in user time the longer they have the app. I would compare, older users, to newer users behaviors to see differences.

#### Lesson 2: SQL - data access methods

##### Drill: Select, from, where

In [1]:
#1. The ID's and durations for all trips of duration greater than 500,
#    ordered by duration.

#SELECT
#     trip_id,
#     bike_id,
#     duration
# FROM 
#     trips
# WHERE 
#     duration>500
# ORDER BY duration DESC

In [3]:
#2. Every column of the stations table for station id 84.

#     SELECT
#         *
#     FROM 
#         stations
#     WHERE 
#         station_id=84

In [ ]:
#3. The min temperatures of all the occurrences of rain in zip 94301.

# SELECT
#   MinTemperatureF
# FROM 
#   weather
# WHERE 
#   ZIP=94301 AND
#   PrecipitationIn >= 0

##### Drill: Aggregates and groups

In [2]:
#1. What was the hottest day in our data set? Where was that? 134 degrees F, 94063

# SELECT
#     MAX(MaxTemperatureF),
#     ZIP
# FROM
#     weather

In [3]:
#2. How many trips started at each station?

# SELECT
#     count(start_station) starts,
#    start_station name_of_station
# FROM
#     trips
# GROUP BY
#   start_station

In [4]:
#3 What's the shortest trip that happened?

# 60, Mezes

# SELECT
#     min(duration) shortest,
#     start_station name_of_station
# FROM
#     trips

In [ ]:
#4 What is the average trip duration, by end station?

# SELECT
#     avg(duration) avg_duration,
#     end_station name_of_station
# FROM
#     trips
# GROUP BY
#     end_station

##### Drill: Joins and CTEs

In [ ]:
#1 What are the three longest trips on rainy days?

# with rain_days as
#     (SELECT 
#         date 
#         FROM weather
#         WHERE events = 'Rain'
#         GROUP BY 1
#     )

# SELECT 
#     trip_id,
#     duration,
#     DATE(start_date) trip_date
#     FROM trips
#     JOIN rain_days
#     on rain_days.Date = trip_date
# ORDER BY duration desc
# LIMIT 3

In [ ]:
# 2 Which station is full most often?

# SELECT 
# status.station_id,
# stations.name,
# COUNT(CASE WHEN docks_available=0 then 1 END) empty_count
# FROM status
# JOIN stations
# on stations.station_id = status.station_id
# GROUP BY 1
# ORDER BY empty_count DESC

In [ ]:
#3 Return a list of stations with a count of number of trips starting at that station but ordered by dock count.

# SELECT 
# start_station,
# dockcount,
# COUNT(*)
# FROM trips
# JOIN stations
# on stations.name = trips.start_station
# GROUP BY 1, 2
# ORDER BY 1 DESC

In [ ]:
#4 (Challenge) What's the length of the longest trip for each day it rains anywhere?

# with rain_days as
#     (SELECT 
#     date
#     FROM weather
#     WHERE events = 'Rain'
#     GROUP BY 1
#     ),

# rainy_rides as 
#     (SELECT 
#     trip_id
#     duration,
#     DATE(start_date) ride_date
#     FROM trips
#     JOIN rain_days
#     on rain_days.date = ride_date
#     ORDER BY duration DESC 
#     )

# SELECT 
#     ride_date,
#     MAX(duration)
#     FROM rainy_rides
#     GROUP BY ride_date

##### Challenge: Airbnb cities - Boston - July '18

What's the most expensive listing? What else can you tell me about the listing?

In [ ]:
# SELECT
#     MAX(price),
#     *
# FROM 
#     listings

        price = 995

        id = 20650593

        name = The Historic House in the North End/Waterfront

        host_id = 27172259

        host_name = Travis

        neighbourhood = North End

        latitude = 42.36813076761684

        longitude = -71.05393794734469

        room_type = Entire home/apt

        minimum_nights = 1

        number_of_reviews = 50

        last_review = 2018-07-15

        reviews_per_month = 4.72

        calculated_host_listings_count = 1

        availability_365 = 311

What neighborhoods seem to be the most popular?

In [1]:
# SELECT
#     COUNT(neighbourhood),
#     neighbourhood
# FROM 
#     listings
# GROUP BY 
#     neighbourhood

##### ANSWER: Dorchester

What time of year is the cheapest time to go to your city? What about the busiest?

#### SQL with pgAdmin 4

SQL Basics

#### Drills

In [ ]:
#1 The IDs and durations for all trips of duration greater than 500, ordered by duration.

# select
# 	trip_id,
# 	duration
# from
# 	trips
# where
# 	duration>500
# order by duration desc

In [ ]:
#2 Every column of the stations table for station id 84.

# select
# 	*
# from
# 	stations
# where
# 	station_id = 84

In [ ]:
#3 The min temperatures of all the occurrences of rain in zip 94301.

# select
# 	mintemperaturef
# from
# 	weather
# where
# 	precipitationin > 0
# 	AND zip = 94301

#### Lesson 3 Intermediate Visualization

Drills

Find a dataset you'd like to explore. This can be something you're familiar with or something new. Create a Jupyter notebook and then:

Choose two continuous variables, and plot them three different ways.

Choose one continuous variable and one categorical variable, and plot them six different ways.

In [4]:
# data taken from Kaggle Superhero Dataset 
superhero_stats = pd.read_csv('Data/charcters_stats.csv')

In [6]:
superhero_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 9 columns):
Name            611 non-null object
Alignment       608 non-null object
Intelligence    611 non-null int64
Strength        611 non-null int64
Speed           611 non-null int64
Durability      611 non-null int64
Power           611 non-null int64
Combat          611 non-null int64
Total           611 non-null int64
dtypes: int64(7), object(2)
memory usage: 43.0+ KB

In [8]:
superhero_stats.Alignment.value_counts()

good       432
bad        165
neutral     11
Name: Alignment, dtype: int64

Choose one variable and plot that variable four different ways.