#### Lesson 2: SQL - data access methods

##### Drill: Select, from, where

In [ ]:
#1. The ID's and durations for all trips of duration greater than 500,
#    ordered by duration.

#SELECT
#     trip_id,
#     bike_id,
#     duration
# FROM 
#     trips
# WHERE 
#     duration>500
# ORDER BY duration DESC

In [ ]:
#2. Every column of the stations table for station id 84.

#     SELECT
#         *
#     FROM 
#         stations
#     WHERE 
#         station_id=84

In [ ]:
#3. The min temperatures of all the occurrences of rain in zip 94301.

# SELECT
#   MinTemperatureF
# FROM 
#   weather
# WHERE 
#   ZIP=94301 AND
#   PrecipitationIn >= 0

##### Drill: Aggregates and groups

In [ ]:
#1. What was the hottest day in our data set? Where was that? 134 degrees F, 94063

# SELECT
#     MAX(MaxTemperatureF),
#     ZIP
# FROM
#     weather

In [ ]:
#2. How many trips started at each station?

# SELECT
#     count(start_station) starts,
#    start_station name_of_station
# FROM
#     trips
# GROUP BY
#   start_station

In [ ]:
#3 What's the shortest trip that happened?

# 60, Mezes

# SELECT
#     min(duration) shortest,
#     start_station name_of_station
# FROM
#     trips

In [ ]:
#4 What is the average trip duration, by end station?

# SELECT
#     avg(duration) avg_duration,
#     end_station name_of_station
# FROM
#     trips
# GROUP BY
#     end_station

##### Drill: Joins and CTEs

In [ ]:
#1 What are the three longest trips on rainy days?

# with rain_days as
#     (SELECT 
#         date 
#         FROM weather
#         WHERE events = 'Rain'
#         GROUP BY 1
#     )

# SELECT 
#     trip_id,
#     duration,
#     DATE(start_date) trip_date
#     FROM trips
#     JOIN rain_days
#     on rain_days.Date = trip_date
# ORDER BY duration desc
# LIMIT 3

In [ ]:
# 2 Which station is full most often?

# SELECT 
# status.station_id,
# stations.name,
# COUNT(CASE WHEN docks_available=0 then 1 END) empty_count
# FROM status
# JOIN stations
# on stations.station_id = status.station_id
# GROUP BY 1
# ORDER BY empty_count DESC

In [ ]:
#3 Return a list of stations with a count of number of trips starting at that station but ordered by dock count.

# SELECT 
# start_station,
# dockcount,
# COUNT(*)
# FROM trips
# JOIN stations
# on stations.name = trips.start_station
# GROUP BY 1, 2
# ORDER BY 1 DESC

In [ ]:
#4 (Challenge) What's the length of the longest trip for each day it rains anywhere?

# with rain_days as
#     (SELECT 
#     date
#     FROM weather
#     WHERE events = 'Rain'
#     GROUP BY 1
#     ),

# rainy_rides as 
#     (SELECT 
#     trip_id
#     duration,
#     DATE(start_date) ride_date
#     FROM trips
#     JOIN rain_days
#     on rain_days.date = ride_date
#     ORDER BY duration DESC 
#     )

# SELECT 
#     ride_date,
#     MAX(duration)
#     FROM rainy_rides
#     GROUP BY ride_date

##### Challenge: Airbnb cities - Boston - July '18

What's the most expensive listing? What else can you tell me about the listing?

In [ ]:
# SELECT
#     MAX(price),
#     *
# FROM 
#     listings

        price = 995

        id = 20650593

        name = The Historic House in the North End/Waterfront

        host_id = 27172259

        host_name = Travis

        neighbourhood = North End

        latitude = 42.36813076761684

        longitude = -71.05393794734469

        room_type = Entire home/apt

        minimum_nights = 1

        number_of_reviews = 50

        last_review = 2018-07-15

        reviews_per_month = 4.72

        calculated_host_listings_count = 1

        availability_365 = 311

What neighborhoods seem to be the most popular?

In [ ]:
# SELECT
#     COUNT(neighbourhood),
#     neighbourhood
# FROM 
#     listings
# GROUP BY 
#     neighbourhood

##### ANSWER: Dorchester

avg per month listing price across the city