#### Lesson 2: SQL - data access methods

##### Drill: Select, from, where

In [ ]:
#1. The ID's and durations for all trips of duration greater than 500,
#    ordered by duration.

#SELECT
#     trip_id,
#     bike_id,
#     duration
# FROM 
#     trips
# WHERE 
#     duration>500
# ORDER BY duration DESC

In [ ]:
# SELECT
#     trip_id, bike_id, duration
# FROM
#     trips
# WHERE
#     duration>500
# ORDER BY
#     duration DESC

In [ ]:
#2. Every column of the stations table for station id 84.

#     SELECT
#         *
#     FROM 
#         stations
#     WHERE 
#         station_id=84

In [ ]:
# SELECT
#     *
# FROM
#     stations
# WHERE
#     station_id=84

In [ ]:
#3. The min temperatures of all the occurrences of rain in zip 94301.

# SELECT
#   MinTemperatureF
# FROM 
#   weather
# WHERE 
#   ZIP=94301 AND
#   PrecipitationIn > 0

In [ ]:
# SELECT
#     MinTemperatureF
# FROM
#     weather
# WHERE
#     zip=94301 AND PrecipitationIn > 0

##### Drill: Aggregates and groups

In [ ]:
#1. What was the hottest day in our data set? Where was that? 134 degrees F, 94063

# SELECT
#     MAX(MaxTemperatureF),
#     ZIP
# FROM
#     weather

In [ ]:
#2. How many trips started at each station?

# SELECT
#     count(start_station) starts,
#    start_station name_of_station
# FROM
#     trips
# GROUP BY
#   start_station

In [ ]:
#3 What's the shortest trip that happened?

# 60, Mezes

# SELECT
#     min(duration) shortest,
#     start_station name_of_station
# FROM
#     trips

In [ ]:
#4 What is the average trip duration, by end station?

# SELECT
#     avg(duration) avg_duration,
#     end_station name_of_station
# FROM
#     trips
# GROUP BY
#     end_station

##### Drill: Joins and CTEs

In [ ]:
#1 What are the three longest trips on rainy days?

# with rain_days as
#     (SELECT 
#         date 
#         FROM weather
#         WHERE events = 'Rain'
#         GROUP BY 1
#     )

# SELECT 
#     trip_id,
#     duration,
#     DATE(start_date) trip_date
#     FROM trips
#     JOIN rain_days
#     on rain_days.Date = trip_date
# ORDER BY duration desc
# LIMIT 3

In [ ]:
# 2 Which station is full most often?

# SELECT 
# status.station_id,
# stations.name,
# COUNT(CASE WHEN docks_available=0 then 1 END) empty_count
# FROM status
# JOIN stations
# on stations.station_id = status.station_id
# GROUP BY 1
# ORDER BY empty_count DESC

In [ ]:
#3 Return a list of stations with a count of number of trips starting at that station but ordered by dock count.

# SELECT 
# start_station,
# dockcount,
# COUNT(*)
# FROM trips
# JOIN stations
# on stations.name = trips.start_station
# GROUP BY 1, 2
# ORDER BY 1 DESC

In [ ]:
#4 (Challenge) What's the length of the longest trip for each day it rains anywhere?

# with rain_days as
#     (SELECT 
#     date
#     FROM weather
#     WHERE events = 'Rain'
#     GROUP BY 1
#     ),

# rainy_rides as 
#     (SELECT 
#     trip_id
#     duration,
#     DATE(start_date) ride_date
#     FROM trips
#     JOIN rain_days
#     on rain_days.date = ride_date
#     ORDER BY duration DESC 
#     )

# SELECT 
#     ride_date,
#     MAX(duration)
#     FROM rainy_rides
#     GROUP BY ride_date

##### Challenge: Airbnb in SanFran

What's the most expensive listing? What else can you tell me about the listing?

In [ ]:
# SELECT
#     MAX(price),
#     *
# FROM 
#     listings

The max price was 10000

In [ ]:
# SELECT
#     *
# FROM 
#     sfo_listings
# WHERE
#     price = 10000

id = 24650875

name = Full House Victorian: 7500 SqFt, 4 Floors, Hot Tub

host_id = 6460979

host_name = Sarah

neighbourhood = Western Addition

latitude = 37.78023001738564

longitude = -122.44046111352687

room_type = Entire home/apt

price = 10000

minimum_nights = 2

number of reviews = 3

last_review = 2018-05-24

reviews_per_month = 1

calculated_host_listings_count = 4

availability_365 = 18

What neighborhoods seem to be the most popular?

In [1]:
# SELECT
#     neighbourhood,
#     availability_365
# FROM
#     sfo_listings
# ORDER BY
#     availability_365 ASC

Downtown/Civic Center, Western Addition, West of Twin Peaks are a few of what seem to be the desired neighbourhoods

What time of year is the cheapest time to go to San Francisco? What about the busiest?

In [ ]:
SELECT
    c.calender_date as date,
    l.price as price
FROM