In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn import preprocessing
import math
from matplotlib.mlab import PCA as mlabPCA
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import linear_model

%matplotlib inline

#### Drill: Prepare the Data

In [79]:
raw = pd.read_excel("Data/NYC_law_enforcement_2013.xls", header=4)

In [80]:
raw.describe()

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
count,3.480000e+02,348.000000,348.000000,0.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,187.000000
mean,4.003763e+04,201.594828,1.566092,NaN,5.864943,72.902299,121.261494,792.606322,119.683908,637.017241,35.905172,1.871658
std,4.500374e+05,2815.268504,18.303673,NaN,60.425452,1031.032873,1706.131730,7659.724746,924.948789,6346.054451,403.423826,10.693411
min,5.260000e+02,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.003000e+03,2.000000,0.000000,NaN,0.000000,0.000000,1.000000,40.500000,6.000000,31.000000,0.000000,0.000000
50%,7.233500e+03,6.000000,0.000000,NaN,0.000000,1.000000,4.000000,112.500000,17.500000,94.000000,2.000000,0.000000
75%,1.842750e+04,22.000000,0.000000,NaN,2.000000,5.000000,14.000000,341.000000,51.250000,287.250000,7.000000,1.000000
max,8.396126e+06,52384.000000,335.000000,NaN,1112.000000,19170.000000,31767.000000,141971.000000,16606.000000,117931.000000,7434.000000,132.000000

In [81]:
def robbery_binary(df):
    if df['Robbery'] > 1:
        return 1
    else:
        return 0

In [82]:
def murder_binary(df):
    if df['Murder and\nnonnegligent\nmanslaughter'] > 1:
        return 1
    else:
        return 0

In [83]:
raw['Robbery_binary'] = raw.apply(robbery_binary, axis=1)
raw['Murder_binary'] = raw.apply(murder_binary, axis=1)
raw['Property_Crime'] = raw['Property\ncrime']

In [84]:
data = pd.DataFrame()
data['Property_Crime'] = raw['Property\ncrime']
data['Murder'] = raw['Murder_binary']
data['Robbery'] = raw['Robbery_binary']
data['Population'] = raw['Population']
data['Pop_Squared'] = raw['Population']**2

In [85]:
data.head()

   Property_Crime  Murder  Robbery  Population   Pop_Squared
0            12.0       0        0      1861.0  3.463321e+06
1            24.0       0        0      2577.0  6.640929e+06
2            16.0       0        0      2846.0  8.099716e+06
3          4090.0       1        1     97956.0  9.595378e+09
4           223.0       0        1      6388.0  4.080654e+07

In [86]:
data = data.dropna()

In [87]:
variables = ['Murder', 'Robbery', 'Population', 'Pop_Squared']
x = data[variables]
y = data['Property_Crime']

In [89]:
lin_reg = linear_model.LinearRegression()
lin_reg.fit(x,y)

print('Coefficients: \n', lin_reg.coef_)
print('Intercept: \n', lin_reg.intercept_)

Coefficients:
 [  4.46701518e+02  -1.05897820e+02   3.28129444e-02  -1.89739747e-09]
Intercept:
 -111.468922903